body
{
  padding-top: 50px;
}

.starter-template
{
  padding: 0px 15px;
  text-align: center;
}

h1
{
<<<<<<< HEAD
	margin: 0;     
	color: #333;
	padding-top: 50px;
	font-size: 45px;
	color: aliceblue;
	font-family: Verdana, sans-serif;
	font-weight: bold;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
=======
	margin: 0px;     
	color: #6a85a5;
	padding: 0px;
	font-size: 48px;
	font-family: "trebuchet ms", sans-serif;
	text-shadow: 4px 4px 2px black;
>>>>>>> f081d0da01a16bec0f31224c164bf3c706a4ea87
}
